body {
    background-color: #8e75ff;
}

.header {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #8e75ff;
    padding: 10px;
}

.header div {
    display: block;
    margin: auto 5px auto 15%;
    width: 80%;
    padding: 10px;
    font-size: 50px;
    text-align: center;
}

.header img {
    display: block;
    width: 50%;
    margin: auto;
    border-radius: 12px;
}

button {
    display: block;
    font-size: 100%;
    margin-top: 40px;
    background-color: #6501ca;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 15px 32px;
    cursor: pointer;
}

button:hover {
    background-color: #4c009a;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.container div {
    display: block;
    margin: 20px auto auto 50px;
    width: 80%;
    border: 2px solid black;
    border-radius: 12px;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 30px;
    text-align: left;
}

.container img {
    display: block;
    margin: auto;
    width: 55%;
    border-radius: 12px;
    text-align: center;
}

.container h4 {
    margin: 10px auto 2px 70px;
    padding: 2px;
}

a {
  display: flex;
  justify-content: center;
}