<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/style.css">
    <!--<meta http-equiv="refresh" content="30" -->
    <meta charset="UTF-8">
    <meta name="description" content="Traficar application tracking relocation cars">
    <meta name="keywords" content="Traficar, relocation, discount">
    <meta name="author" content="Bartosz Łężniak">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

  <div class="header">
    <div></div>
    <div><img src="../static/img/logo.png" alt="TrafiTracker logo"></div>
    <div><button onClick="window.location.reload();">Odśwież!</button></div>
  </div>

  {% if cars %}
    <div class="container">
      {% for car in cars %}
      <div><img src="../static/img/car_placeholder.jpg">
        <h4>Lokalizacja: {{car['location']}}<br></h4>
        <h4>Model: TBA<br></h4>
        <h4>Rejestracja: {{car['regPlate']}}<br></h4>
        <h4>Paliwa: {{car['fuel']}} l<br></h4>
        <h4>Zasięg: {{car['range']}} km<br></h4>
        <h4>Dostępny: {{car['available']}}<br></h4>
        <h4>Ostatnia aktualizacja: {{car['lastUpdate']}}</h4>
        <div><a href={{car['gmaps']}}>Google Maps</a></div>
      </div>
      {% endfor %}
    </div>
  {% else %}
    <h3>Brak danych!</h3>
  {% endif %}

  </body>

</html>