<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/style.css">
    <!--<meta http-equiv="refresh" content="30" -->
    <meta charset="UTF-8">
    <meta name="description" content="Traficar application tracking relocation cars">
    <meta name="keywords" content="Traficar, relocation, discount">
    <meta name="author" content="Bartosz Łężniak">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

  <div class="header">
    <div></div>
    <div><img src="../static/img/logo.png" alt="TrafiTracker logo"></div>
    <div><button type="button">Refresh</button></div>
  </div>

  {% if id %}
    <div class="container">
      {% for car in range(1, carsNum+1) %}
      <div><img src="../static/img/car_placeholder.jpg">TESTTEST
        <div>testtest</div>
      </div>
      {% endfor %}
    </div>
  {% else %}
    <h3>Brak danych!</h3>
  {% endif %}

  </body>

</html>