<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>

  <div class="header">
    <div></div>
    <div><img src="../static/img/logo_placeholder.png" alt="TrafiTracker logo"></div>
    <div><button type="button">Refresh</button></div>
  </div>

  <div class="container">
    <div><img src="../static/img/car_placeholder.jpg" alt="auto1"></div>
    <div><img src="../static/img/car_placeholder.jpg" alt="auto1"></div>
    <div><img src="../static/img/car_placeholder.jpg" alt="auto1"></div>
    <div><img src="../static/img/car_placeholder.jpg" alt="auto1"></div>
    <div>auto5 itd</div>
  </div>

  </body>

</html>